
.vs/Milka/xs/sqlite3/db.lock
.vs/Milka/xs/sqlite3/storage.ide
Milka/obj/project.assets.json
Milka/obj/Milka.csproj.nuget.g.props
Milka/obj/Milka.csproj.nuget.cache
Milka/obj/project.assets.json
Milka/obj/Milka.csproj.nuget.g.props
Milka/obj/Milka.csproj.nuget.cache
Milka/obj/Debug/netcoreapp2.1/Milka.assets.cache
.vs/Milka/xs/UserPrefs.xml
.vs/Milka/xs/sqlite3/storage.ide-wal
.vs/Milka/xs/sqlite3/storage.ide-shm
Milka/obj/Debug/netcoreapp2.1/Milka.assets.cache
Milka/obj/Milka.csproj.nuget.cache
Milka/obj/Milka.csproj.nuget.g.props
Milka/obj/project.assets.json
Milka/obj/project.assets.json
Milka/obj/Milka.csproj.nuget.g.props
Milka/obj/Milka.csproj.nuget.cache
Milka/obj/Debug/netcoreapp2.1/Milka.assets.cache
*.json
