
<div class="form-row text-center">
    <div class="col-12">
        <h2 class="text-center">Admin Panel</h2>
        <br/>
        
        <div class="col-11">
        <input type="button" value="Manage Posts" class="btn btn-primary" onclick="window.location = '@Url.Action("Postmanagments", "Admin")'"/>
        <input type="button" value="Manage Users" class="btn btn-secondary" onclick="window.location = '@Url.Action("Users", "Admin")'"/>
        <input type="button" value="Manage Subscribers" class="btn btn-dark" onclick="window.location = '@Url.Action("Subscribers", "Admin")'"/>
        </div>
        </div>
</div>