@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>
    ();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    }

    @if (showBanner)
    {

    <div id="cookieConsent" class="cookies fixed-bottom" role="alert">
        <div class="m-3">
                <p>
                    <span class="font-13">
                        Wykorzystuję pliki cookies do prawidłowego działania bloga, aby oferować funkcje społecznościowe, analizować ruch na blogu i prowadzić działania marketingowe. Więcej informacji znajdziesz w polityce prywatności. Czy zgadzasz się na wykorzystywanie plików cookies?
                    </span>
                     <button type="button" class="btn btn-success btn-sm ml-3" data-cookie-string="@cookieString">Akceptuj</button>
                     <input type="button" value="Polityka prywatności" data-toggle="modal" data-target="#privacyModal" class="btn btn-sm btn-secondary ml-3"/> 
                    
                </p>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
                
            });
        })();
    </script>
    }