


<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-dark text-white">

            <div class="modal-header">
                
                <h5 class="modal-title w-100 text-center" id="privacyModalLabel">Polityka prywatności.</h5>
                <button type="button" class="close bg-danger rounded p-1 m-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <h1>Nasza polityka prywatności:</h1>
                <br/>
                 <p>Administratorem strony jest Milena Badowska</p>

        <p> W razie jakichkolwiek wątpliwości związanych z polityką prywatności, w każdej chwili możesz skontaktować się ze mną, wysyłając wiadomość na adres i.love.cook.m@gmail.com

            najważniejsze informacje:</p>


           <p> Gwarantuję Ci poufność wszelkich przekazanych mi danych osobowych. Zapewniam podjęcie wszelkich środków bezpieczeństwa i ochrony danych osobowych wymaganych przez przepisy o ochronie danych osobowych. Dane osobowe są gromadzone z należytą starannością i odpowiednio chronione przed dostępem do nich przez osoby do tego nieupoważnione. Dane osobowe przetwarzane są wyłącznie na terytorium Unii Europejskiej.
            Korzystam z Google Analytics, narzędzia które zbierają anonimowe informacje na temat Twoich odwiedzin strony np. czas, jaki spędziłaś na stronie czy przejścia pomiędzy poszczególnymi podstronami. Wiąże się to z wykorzystaniem plików cookies firmy Google.
            Zapewniam możliwość korzystania z funkcji społecznościowych, takich jak udostępnianie treści w serwisach społecznościowych oraz subskrypcja profilu społecznościowego. Korzystanie z tych funkcji wiąże się z wykorzystywaniem plików cookies administratorów serwisów społecznościowych takich jak Instagram.
            Wykorzystuję pliki cookies, aby zawsze było można korzystać ze strony w komfortowy sposób.
            Zastrzegam sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój mojego serwisu internetowego. O wszelkich zmianach będę informować w sposób widoczny i zrozumiały.
           </p>

           <p> W związku z przetwarzaniem przeze mnie Twoich danych osobowych, przysługują Ci następujące uprawnienia:
            Usługobiorca ma prawo dostępu do treści swoich danych osobowych oraz ich poprawiania.
            Każdej osobie przysługuje prawo do kontroli przetwarzania danych, które jej dotyczą, zawartych w zbiorze danych Administratora, a zwłaszcza prawo do żądania uzupełnienia, uaktualnienia, sprostowania danych osobowych, czasowego lub stałego wstrzymania ich przetwarzania lub ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe lub zostały zebrane z naruszeniem ustawy albo są już zbędne do realizacji celu, dla którego zostały zebrane.
           </p>
        <p> Powyższe uprawnienia możesz realizować zgodnie z zasadami opisanymi w art. 16 – 21 RODO, kontaktując się ze mną pod adresem i.love.cook.m@gmail.com
        </p>
        <p> Powierzam przetwarzanie danych osobowych następującym podmiotom:
        </p>
        <p>
            ŁUKASZ JANKOWSKI
        </p>

        <p>  Dane zostają zapisane w bazie systemu MSSql. Dane w bazie mojego systemu MSSql są w niej przechowywane przez cały okres funkcjonowania bloga. Dane zostaną usunięte z bazy, gdy podejmę decyzję o zamknięciu bloga.
            Twoje dane(Imię i adres email) są w tym przypadku przetwarzane na podstawie Twojej zgody wynikającej z dodania do newslettera. Dane przetwarzane są wyłącznie w celu dostareczenia informacji o nowych postach oraz nowościach na blogu.
        </p>
        <p> Kontakt e-mailowy. Kontaktując się ze mną za pośrednictwem poczty elektronicznej, w sposób naturalny przekazujesz mi swój adres e-mail jako adres nadawcy wiadomości. Ponadto, w treści wiadomości możesz zawrzeć również inne dane osobowe.

            Podstawą prawną przetwarzania danych osobowych w takim przypadku jest Twoja zgoda wynikająca z zainicjowania ze mną kontaktu.

            Twoje dane osobowe przekazywane mi w ramach kontaktu e-mailowego przetwarzane są wyłącznie w celu obsługi Twojego zapytania. Treść korespondencji może podlegać archiwizacji.

            Pliki cookies i inne technologie śledzące

            Moja strona, podobnie jak niemal wszystkie inne strony internetowe, wykorzystuje pliki cookies, by zapewnić Ci najlepsze doświadczenia związane z korzystaniem ze strony.

            Cookies to niewielkie informacje tekstowe, przechowywane na Twoim urządzeniu końcowym (np. komputerze, tablecie, smartfonie), które mogą być odczytywane przez mój system teleinformatyczny.
        </p>
        <p>  Cookies pozwalają mi:
        </p>
        <p>   zapewnić prawidłowe funkcjonowanie strony jakiego oczekujesz,</p>
        <p>  poprawić szybkość i bezpieczeństwo korzystania ze strony,</p>
        <p>   ulepszać funkcje dostępne dla Ciebie na stronie,</p>
        <p>   korzystać z narzędzi analitycznych,</p>
        <p>  korzystać z narzędzi marketingowych,</p>
        <p>  korzystać z systemu komentarzy,</p>
        <p>  zapewniać funkcje społecznościowe.</p>

        <p>   Zgoda na cookies. Podczas pierwszej wizyty na stronie wyświetlana jest Ci informacja na temat stosowania plików cookies. Zaakceptowanie i zamknięcie tej informacji oznacza, że wyrażasz zgodę na wykorzystywanie plików cookies zgodnie z postanowieniami niniejszej polityki prywatności. Zgodę zawsze możesz wycofać, usuwając pliki cookies oraz zmieniając ustawienia plików cookies w Twojej przeglądarce. Pamiętaj jednak, że wyłączenie plików cookies może powodować trudności w korzystaniu ze strony, jak również z wielu innych stron internetowych, które stosują cookies.
        </p>

        <p>    „Cookies” „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Usługobiorcy do czasu wylogowania (opuszczenia strony internetowej).

            Użytkownik ma prawo zadecydowania w zakresie dostępu plików „cookies” do swojego komputera poprzez ich uprzedni wybór w oknie swojej przeglądarki.  Szczegółowe informacje o możliwości i sposobach obsługi plików „cookies” dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).

            Cookies podmiotów trzecich. Moja strona, podobnie jak większość współczesnych stron internetowych, wykorzystuje funkcje zapewniane przez podmioty trzecie, co wiąże się z wykorzystywaniem plików cookies pochodzących od podmiotów trzecich. Wykorzystanie tego rodzaju plików cookies zostało opisane poniżej.

            Analiza i statystyka. Wykorzystuję cookies do śledzenia statystyk strony, takich jak liczba osób odwiedzających, rodzaj systemu operacyjnego i przeglądarki internetowej wykorzystywanej do przeglądania strony, czas spędzony na stronie, odwiedzone podstrony etc. Korzystam w tym zakresie z narzędzia Google Analytics. Zbierane w tym zakresie informacje są całkowicie anonimowe i nie pozwalają na Twoją identyfikację. W tym celu wykorzystywane są pliki cookies firmy Google LLC dotyczące usługi Google Analytics.

            Korzystanie z usług Google Analytics wiąże się z zaimplementowaniem w kodzie mojej strony udostępnionego przez Google kodu śledzącego (tzw. tracking code). Kod ten bazuje na plikach cookies, ale może wykorzystywać również inne technologie śledzące..

            Funkcje społecznościowe. Zapewniam możliwość korzystania z funkcji społecznościowych, takich jak udostępnianie treści w serwisach społecznościowych oraz subskrypcja profilu społecznościowego. Korzystanie z tych funkcji wiąże się z wykorzystywaniem plików cookies administratorów serwisów społecznościowych takich jak Instagram.
        </p>
        <p>   Logi serwera
        </p>
        <p>   Korzystanie ze strony wiąże się z przesyłaniem zapytań do serwera, na którym przechowywana jest strona. Każde zapytanie skierowane do serwera zapisywane jest w logach serwera.

            Logi obejmują m.in. Twój adres IP, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym z jakiego korzystasz. Logi zapisywane i przechowywane są na serwerze.

            Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi z serwisu i nie są wykorzystywane przeze mnie w celu Twojej identyfikacji.

            Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania stroną a ich zawartość nie jest ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.

            W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jestem do dyspozycji.
        </p>
        <p>  Zmiany Polityki Prywatności
        </p>
        <p>  Administrator danych zastrzega sobie prawo do wprowadzania zmian w Polityce Prywatności.
            Data określona poniżej jest datą obowiązywania Polityki Prywatności w ostatniej wersji.
        </p>

            </div>
            <div class="modal-footer justify-content-center">
                <span>www.ilovecook.pl</span>
            </div>
        </div>
    </div>
</div>
