
<div class="form-row justify-content-center mt-5">
    

    <div class="col-md-9 text-center bg-dark rounded text-white p-4">
        <h2 class="m-4">Twój email został usunięty :(</h2>

    </div>
</div>